$primary: #ff004f;
$primary-opacity: rgba(255, 0, 79, 0.1);
$secondary: #222;
$secondary-container: rgba(34, 34, 34, .7);
$text-color: #fff;
$text-color-2: rgba(255, 255, 255, .8);
$body-color: #2b2537;
$esfera: #fff;
$container-color: rgb(61, 61, 61, 0.7);